<a href="https://colab.research.google.com/github/HassanDataSci/caricon-personality-career-matching/blob/main/CariCon_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Load each file into its own DataFrame
df_mbti   = pd.read_excel("data/myer-briggs-data.xlsx")
df_onet  = pd.read_excel("data/complete_onet_data_with_human_characteristics.xlsx")

print("MBTI shape:", df_mbti.shape)
print("Human characteristics shape:", df_onset.shape)

MBTI shape: (8675, 2)

NameError: name 'df_onset' is not defined

In [ ]:
print("=== MBTI Data ===")
print(df_mbti.dtypes)
print()

print("=== O*NET Human Characteristics ===")
print(df_onet.dtypes)
print()

=== MBTI Data ===
type     object
posts    object
dtype: object

=== O*NET Human Characteristics ===
Occupation Code              object
Title                        object
Human Characteristics        object
Description                  object
Sample Job Titles            object
Tasks                        object
Knowledge                    object
Skills                       object
Abilities                    object
Work Activities              object
Detailed Work Activities     object
Tools Used                   object
Technology Used              object
Job Zone                     object
Education Level              object
Experience Required          object
Job Training                 object
SVP Range                    object
Job Zone Examples            object
Interests                    object
Work Styles                  object
Work Values                  object
Work Context                 object
Additional Sources           object
Related Occupations          object
Annual 10th Percentile      float64
Annual 25th Percentile       object
Annual Median Wage           object
Annual 75th Percentile       object
Annual 90th Percentile       object
dtype: object

# Handling Missing Data

In [ ]:
nan_count = np.sum(df_onet.isnull())
print(nan_count)

Occupation Code               0
Title                         0
Human Characteristics         0
Description                   0
Sample Job Titles           115
Tasks                        93
Knowledge                   143
Skills                      147
Abilities                   138
Work Activities             137
Detailed Work Activities     93
Tools Used                  119
Technology Used              93
Job Zone                     93
Education Level              93
Experience Required          93
Job Training                 93
SVP Range                    93
Job Zone Examples            93
Interests                    93
Work Styles                 137
Work Values                 142
Work Context                137
Additional Sources           67
Related Occupations          93
Annual 10th Percentile       26
Annual 25th Percentile       26
Annual Median Wage           26
Annual 75th Percentile       26
Annual 90th Percentile       26
dtype: int64

/Users/jessicatong/Documents/CS Repos/caricon-personality-career-matching/.venv/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [ ]:
# many of the missing values come from rows with "All Other" in the title 
df_onet['Title'].str.contains("All Other", case=False).value_counts()

In [ ]:
# So we can drop rows with all other
df_onet = df_onet[~df_onet['Title'].str.contains("All Other", case=False)]
df_onet.shape

(939, 30)

In [ ]:
nan_count = np.sum(df_onet.isnull())
print(nan_count)

Occupation Code              0
Title                        0
Human Characteristics        0
Description                  0
Sample Job Titles           38
Tasks                       16
Knowledge                   66
Skills                      70
Abilities                   61
Work Activities             60
Detailed Work Activities    16
Tools Used                  42
Technology Used             16
Job Zone                    16
Education Level             16
Experience Required         16
Job Training                16
SVP Range                   16
Job Zone Examples           16
Interests                   16
Work Styles                 60
Work Values                 65
Work Context                60
Additional Sources          17
Related Occupations         16
Annual 10th Percentile      22
Annual 25th Percentile      22
Annual Median Wage          22
Annual 75th Percentile      22
Annual 90th Percentile      22
dtype: int64

/Users/jessicatong/Documents/CS Repos/caricon-personality-career-matching/.venv/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [ ]:
# 16 of the same rows all have missing values across mutiple columns, these are primarily military roles
df_onet[df_onet['Technology Used'].isnull()]['Title']

22                                      Air Crew Members
23                                     Air Crew Officers
26                 Aircraft Launch and Recovery Officers
27              Aircraft Launch and Recovery Specialists
54                  Armored Assault Vehicle Crew Members
55                      Armored Assault Vehicle Officers
59                    Artillery and Missile Crew Members
60                        Artillery and Missile Officers
167                  Command and Control Center Officers
168               Command and Control Center Specialists
249                      Dentists, All Other Specialists
363           First-Line Supervisors of Air Crew Members
364    First-Line Supervisors of All Other Tactical O...
387    First-Line Supervisors of Weapons Specialists/...
505                                             Infantry
506                                    Infantry Officers
906                                       Special Forces
907                              Special Forces Officers
Name: Title, dtype: object

In [ ]:
# so we can drop those roles
df_onet = df_onet[~df_onet['Technology Used'].isnull()]

nan_count = np.sum(df_onet.isnull())
print(nan_count)

Occupation Code              0
Title                        0
Human Characteristics        0
Description                  0
Tasks                        0
Knowledge                   50
Skills                      54
Abilities                   45
Work Activities             44
Detailed Work Activities     0
Technology Used              0
Job Zone                     0
Education Level              0
Experience Required          0
Job Training                 0
SVP Range                    0
Job Zone Examples            0
Interests                    0
Work Styles                 44
Work Values                 49
Work Context                44
Related Occupations          0
dtype: int64

/Users/jessicatong/Documents/CS Repos/caricon-personality-career-matching/.venv/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

In [ ]:
# Drop some irrelevant columns that we won't use as predictors
df_onet.drop(columns=['Tools Used','Sample Job Titles','Additional Sources'], inplace=True)
df_onet.drop(df_onet.columns[-5:], axis=1, inplace=True)

In [ ]:
nan_count = np.sum(df_onet.isnull())
print(nan_count)

Occupation Code              0
Title                        0
Human Characteristics        0
Description                  0
Tasks                        0
Knowledge                   50
Skills                      54
Abilities                   45
Work Activities             44
Detailed Work Activities     0
Technology Used              0
Job Zone                     0
Education Level              0
Experience Required          0
Job Training                 0
SVP Range                    0
Job Zone Examples            0
Interests                    0
Work Styles                 44
Work Values                 49
Work Context                44
Related Occupations          0
dtype: int64

/Users/jessicatong/Documents/CS Repos/caricon-personality-career-matching/.venv/lib/python3.9/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

These are the roles that still have missing data in columns that we care about, and it's a total of 65 roles. To fill in these missing values, we would have to go online and manually search for skills, abilities, work values, etc.

It could be worth it to spend time doing so in the future. But for now, I think it's more efficient to just drop these roles.

In [7]:
roles_missing_vals = df_onet[df_onet.isnull().any(axis=1)]['Title'].to_list()
roles_missing_vals

['Actors',
 'Agricultural Workers, All Other',
 'Air Crew Members',
 'Air Crew Officers',
 'Aircraft Launch and Recovery Officers',
 'Aircraft Launch and Recovery Specialists',
 'Aircraft Service Attendants',
 'Appraisers of Personal and Business Property',
 'Armored Assault Vehicle Crew Members',
 'Armored Assault Vehicle Officers',
 'Artillery and Missile Crew Members',
 'Artillery and Missile Officers',
 'Artists and Related Workers, All Other',
 'Assemblers and Fabricators, All Other',
 'Biological Scientists, All Other',
 'Blockchain Engineers',
 'Budget Analysts',
 'Building Cleaning Workers, All Other',
 'Bus Drivers, School',
 'Business Operations Specialists, All Other',
 'Calibration Technologists and Technicians',
 'Cardiologists',
 'Clinical Neuropsychologists',
 'Command and Control Center Officers',
 'Command and Control Center Specialists',
 'Communications Equipment Operators, All Other',
 'Community and Social Service Specialists, All Other',
 'Computer Occupations, All Other',
 'Construction and Related Workers, All Other',
 'Cooks, All Other',
 'Counselors, All Other',
 'Crematory Operators',
 'Cutters and Trimmers, Hand',
 'Dancers',
 'Data Scientists',
 'Dentists, All Other Specialists',
 'Designers, All Other',
 'Digital Forensics Analysts',
 'Disc Jockeys, Except Radio',
 'Dishwashers',
 'Drafters, All Other',
 'Education Administrators, All Other',
 'Educational Instruction and Library Workers, All Other',
 'Electrical and Electronic Equipment Assemblers',
 'Emergency Medical Technicians',
 'Emergency Medicine Physicians',
 'Engineering Technologists and Technicians, Except Drafters, All Other',
 'Engineers, All Other',
 'Entertainers and Performers, Sports and Related Workers, All Other',
 'Entertainment and Recreation Managers, Except Gambling',
 'Entertainment Attendants and Related Workers, All Other',
 'Extraction Workers, All Other',
 'Facilities Managers',
 'Fallers',
 'Farmworkers and Laborers, Crop, Nursery, and Greenhouse',
 'Film and Video Editors',
 'Financial and Investment Analysts',
 'Financial Clerks, All Other',
 'Financial Risk Specialists',
 'Financial Specialists, All Other',
 'First-Line Supervisors of Air Crew Members',
 'First-Line Supervisors of All Other Tactical Operations Specialists',
 'First-Line Supervisors of Entertainment and Recreation Workers, Except Gambling Services',
 'First-Line Supervisors of Material-Moving Machine and Vehicle Operators',
 'First-Line Supervisors of Passenger Attendants',
 'First-Line Supervisors of Protective Service Workers, All Other',
 'First-Line Supervisors of Security Workers',
 'First-Line Supervisors of Transportation Workers, All Other',
 'First-Line Supervisors of Weapons Specialists/Crew Members',
 'Fishing and Hunting Workers',
 'Food Preparation and Serving Related Workers, All Other',
 'Food Processing Workers, All Other',
 'Fundraising Managers',
 'Gambling Service Workers, All Other',
 'Graders and Sorters, Agricultural Products',
 'Grounds Maintenance Workers, All Other',
 'Health Information Technologists and Medical Registrars',
 'Health Technologists and Technicians, All Other',
 'Healthcare Diagnosing or Treating Practitioners, All Other',
 'Healthcare Practitioners and Technical Workers, All Other',
 'Healthcare Social Workers',
 'Healthcare Support Workers, All Other',
 'Helpers, Construction Trades, All Other',
 'Helpers--Pipelayers, Plumbers, Pipefitters, and Steamfitters',
 'Helpers--Production Workers',
 'Histology Technicians',
 'Histotechnologists',
 'Hydrologic Technicians',
 'Infantry',
 'Infantry Officers',
 'Information and Record Clerks, All Other',
 'Information Security Engineers',
 'Installation, Maintenance, and Repair Workers, All Other',
 'Legal Support Workers, All Other',
 'Legislators',
 'Life Scientists, All Other',
 'Life, Physical, and Social Science Technicians, All Other',
 'Lighting Technicians',
 'Logging Workers, All Other',
 'Managers, All Other',
 'Material Moving Workers, All Other',
 'Mathematical Science Occupations, All Other',
 'Media and Communication Equipment Workers, All Other',
 'Media and Communication Workers, All Other',
 'Medical Dosimetrists',
 'Medical Records Specialists',
 'Mental Health and Substance Abuse Social Workers',
 'Metal Workers and Plastic Workers, All Other',
 'Military Enlisted Tactical Operations and Air/Weapons Specialists and Crew Members, All Other',
 'Military Officer Special and Tactical Operations Leaders, All Other',
 'Models',
 'Motor Vehicle Operators, All Other',
 'Musicians and Singers',
 'Neuropsychologists',
 'Office and Administrative Support Workers, All Other',
 'Orthopedic Surgeons, Except Pediatric',
 'Painting, Coating, and Decorating Workers',
 'Paramedics',
 'Pediatric Surgeons',
 'Penetration Testers',
 'Personal Care and Service Workers, All Other',
 'Personal Service Managers, All Other',
 'Physical Scientists, All Other',
 'Physicians, All Other',
 'Plant and System Operators, All Other',
 'Political Scientists',
 'Postsecondary Teachers, All Other',
 'Precision Instrument and Equipment Repairers, All Other',
 'Production Workers, All Other',
 'Production, Planning, and Expediting Clerks',
 'Project Management Specialists',
 'Protective Service Workers, All Other',
 'Psychologists, All Other',
 'Public Relations Managers',
 'Rail Transportation Workers, All Other',
 'Religious Workers, All Other',
 'Rock Splitters, Quarry',
 'Sales and Related Workers, All Other',
 'Sales Managers',
 'Sales Representatives of Services, Except Advertising, Insurance, Financial Services, and Travel',
 'School Bus Monitors',
 'Security Management Specialists',
 'Security Managers',
 'Sewers, Hand',
 'Sewing Machine Operators',
 'Shuttle Drivers and Chauffeurs',
 'Slaughterers and Meat Packers',
 'Social Sciences Teachers, Postsecondary, All Other',
 'Social Scientists and Related Workers, All Other',
 'Social Workers, All Other',
 'Software Developers',
 'Special Education Teachers, All Other',
 'Special Education Teachers, Elementary School',
 'Special Education Teachers, Kindergarten',
 'Special Forces',
 'Special Forces Officers',
 'Substitute Teachers, Short-Term',
 'Surgeons, All Other',
 'Tapers',
 'Taxi Drivers',
 'Teachers and Instructors, All Other',
 'Teaching Assistants, All Other',
 'Teaching Assistants, Preschool, Elementary, Middle, and Secondary School, Except Special Education',
 'Teaching Assistants, Special Education',
 'Textile, Apparel, and Furnishings Workers, All Other',
 'Therapists, All Other',
 'Transportation Workers, All Other',
 'Underground Mining Machine Operators, All Other',
 'Web and Digital Interface Designers',
 'Woodworkers, All Other']

In [12]:
df_onet = df_onet[~df_onet['Title'].isin(roles_missing_vals)]
np.sum(df_onet.isnull()).sum()

np.int64(0)